<html>

<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>

<body class="col-sm-offset-2"> 
	<div class="well col-sm-8" style="margin-top:20px;margin-left:20px;background-color:#D5D5E6;">
	<legend><b>Paste your code</b></legend>
		<form action="/metric" method="post">
		<center>
			<textarea name="content" cols="80" rows="23" style="resize:none;"></textarea>
		</center>
		<br>		
		<input type="submit" class="btn btn-primary pull-right">
		</form>
	</div>
</body>

<script class="cssdeck" src="/js/jquery.min.js"></script>
<script class="cssdeck" src="/js/bootstrap.min.js"></script>

</html>
